.intro {
  background-image: url(../img/header/header_background.png);
  background-position: center;
  background-size: cover;
  background-repeat: space;
  text-align: center;
  font-family: "Montserrat", arial, sans-serif;
  outline: none;

  &__nav {
    $forMedia: (
      background-color: (
        md: initial,
      ),
    );

    @include media($forMedia);
    background-color: #27262a;
  }

  &__nav-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  &__logo {
    @media (min-width: $sm) {
      display: grid;
      justify-self: start;
    }

    background: url(../img/header/headerlogo.png) no-repeat;
    background-position: left;
  }

  &__logo:hover {
    @media (min-width: $lg) {
      background: url(../img/header/logo-hover.png) no-repeat;
      background-size: 43px 41px;
      background-position: left;
    }
  }
  &__logo:hover &__logo-title {
    @media (min-width: $lg) {
      color: $hover-col;
    }
  }

  &__logo-link {
    display: grid;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &__logo-title {
    @media (min-width: $sm) {
      display: block;
      font-weight: bold;
      font-size: 24px;
      line-height: 16px;
      text-transform: uppercase;
      color: $purple-col;
      position: relative;
      left: 56px;
      top: 2px;
    }
    display: none;
  }

  &__button-buy {
    $forMedia: (
      font-size: (
        sm: 16px,
        md: 16px,
      ),
      line-height: (
        sm: 16px,
        md: 16px,
      ),
      padding: (
        sm: 11px 20px 11px 20px,
        md: 11px 20px 11px 20px,
      ),
      width: (
        sm: 145px,
        md: 145px,
      ),
      position: (
        sm: initial,
        md: initial,
      ),
    );

    @include media($forMedia);

    @media (min-width: $sm) {
      max-width: $md;
      display: grid;
      grid-template-columns: 1fr;
      grid-column: 3/ 4;
      align-items: center;
      justify-self: end;
    }
    @media (min-width: $md) {
      max-width: $lg;
      order: 1;
    }

    cursor: pointer;
    width: 120px;
    border-radius: 20px;
    border: 3px solid $purple-col;
    color: $textbtn-col;
    background-color: $purple-col;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    justify-self: center;
    outline: none;
  }

  &__button-buy:hover,
  &__button-buy:focus {
    $forMedia: (
      color: (
        md: $purple-col,
      ),
      background-color: (
        md: $hover-col,
      ),
    );
    @include media($forMedia);
  }

  &__title {
    $forMedia: (
      (
        font-size: (
          sm: 72px,
          md: 82px,
        ),
        line-height: (
          sm: 1,
        ),
      )
    );

    @include media($forMedia);
    font-size: 48px;
    color: $title-col;
    font-weight: bold;
    line-height: 48px;
    padding-top: 50px;
    padding-bottom: 20px;
  }
  &__text {
    $forMedia: (
      (
        font-size: (
          sm: 24px,
          md: 30px,
        ),
        line-height: (
          sm: 1,
        ),
        padding-bottom: (
          sm: 19px,
          md: 19px,
        ),
      )
    );

    @include media($forMedia);
    font-size: 18px;
    line-height: 24px;
    color: $purple-col;
    padding-bottom: 14px;
  }
  &__version {
    $forMedia: (
      (
        font-size: (
          sm: 14px,
          md: 16px,
        ),
        line-height: (
          sm: 1,
        ),
      )
    );

    @include media($forMedia);
    font-size: 14px;
    line-height: 14px;
    color: #848e97;
    text-transform: uppercase;
    padding-bottom: 394px;
  }
  &__download {
    $forMedia: (
      font-size: (
        sm: 21px,
        md: 21px,
      ),
      line-height: (
        sm: 23px,
        md: 23px,
      ),
      padding: (
        sm: 23px 63px 23px 63px,
        md: 23px 63px 23px 63px,
      ),
      width: (
        sm: 390px,
        md: 390px,
      ),
    );

    @include media($forMedia);

    cursor: pointer;
    border: 2px solid $purple-col;
    width: 290px;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    padding: 13px 29px 13px 29px;
    border-radius: 100px;
    background-color: $purple-col;
    color: $textbtn-col;
    outline: none;
  }
  &__download:hover,
  &__download:focus {
    $forMedia: (
      color: (
        md: $purple-col,
      ),
      background-color: (
        md: $hover-col,
      ),
    );
    @include media($forMedia);
  }

  &__download-subtext {
    $forMedia: (
      (
        padding-top: (
          sm: 18px,
          md: 19px,
        ),
        line-height: (
          sm: 1,
        ),
      )
    );

    @include media($forMedia);
    font-size: 14px;
    line-height: 14px;
    color: #848e97;
    padding-top: 12px;
  }
  &__btn-wrapper {
    $forMedia: (
      transform: (
        sm: translateY(66px),
        md: translateY(66px),
      ),
    );

    @include media($forMedia);

    transform: translateY(50px);
  }
}

.menu {
  @media (min-width: $sm) {
    max-width: $md;
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 1/ 4;
    justify-self: center;
  }
  @media (min-width: $md) {
    max-width: $lg;
    grid-column: 2/ 3;
    justify-self: end;
  }

  justify-self: end;

  &__btn > span,
  &__btn > span::before,
  &__btn > span::after {
    @media (min-width: $sm) {
      max-width: $md;
      display: none;
    }
    display: block;
    position: relative;
    width: 24px;
    height: 3px;
    background-color: #ffffff;
  }
  &__btn > span::before {
    content: "";
    position: absolute;
    width: 16px;
    top: -8px;
    left: 8px;
    transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  &__btn > span::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: auto;
    transition: bottom 300ms 300ms,
      transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  // -------
  &__btn > span.active {
    transform: rotate(0);
    background-color: initial;
  }

  &__btn > span.active:before {
    content: "";
    top: 0;
    left: 0;
    width: 24px;
    transform: rotate(45deg);
    transition: top 300ms,
      transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  &__btn > .active:after {
    content: "";
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms,
      transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  // -----
  &__box {
    @media (min-width: $sm) {
      max-width: $md;
      position: initial;
      visibility: visible;
      display: grid;
      grid-auto-flow: column;
      column-gap: 29px;
      width: 100%;
      background: none;
      justify-content: center;
      box-shadow: none;
    }
    display: block;
    position: absolute;
    visibility: hidden;
    top: 104px;
    left: calc(50% - 145px);
    width: 290px;
    height: auto;
    padding: 8px 0 8px 0;
    background-color: #333333;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  }

  &__item {
    position: relative;
  }
  &__item-link {
    @media (min-width: $sm) {
      max-width: $md;
      border-bottom: none;
      font-size: 16px;
      line-height: 18px;
      padding: 0;
      text-align: center;
      color: $purple-col;
      font-weight: bold;
    }
    display: block;
    color: $title-col;
    font-size: 26px;
    line-height: 26px;
    text-align: left;
    text-decoration: none;
    padding: 29px 0 21px 32px;
    border-bottom: 3px solid #3b3b3b;
  }
  &__item-link::before {
    display: block;
    position: absolute;
    visibility: hidden;
    content: "";
    width: 8px;
    height: 54px;
    top: calc(50% - 27px);
    left: 0;
    background-color: $purple-col;
  }
  &__item-link:active:focus {
    color: $purple-col;
  }

  &__item-link:active:focus::before {
    @media (min-width: $sm) {
      max-width: $md;
      visibility: hidden;
    }

    visibility: visible;
  }
  &__item-link:hover {
    $forMedia: (
      color: (
        md: $hover-col,
      ),
    );
    @include media($forMedia);
  }
}

.show {
  visibility: visible;
}
