$purple-col: #8d81ac;
$hover-col: #ffffff;
$textbtn-col: #ffffff;
$title-col: #ffffff;
$textWite-col: #ffffff;

$container: (
  lg: 1200px,
  md: 993px,
  sm: 481px,
);

$lg: 1200px;
$md: 993px;
$sm: 481px;
