.about {
  @media (min-width: $sm) {
    background-image: url(../img/about/about_bg.png);
  }
  background-image: linear-gradient(
      0deg,
      rgba(74, 58, 78, 0.9923319669664741) 38%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(../img/about/about_bg.png);

  background-position: center;
  background-size: cover;
  background-repeat: space;
  text-align: center;
  font-family: "Lato", arial, sans-serif;
  padding-bottom: 40px;

  &__title {
    $forMedia: (
      font-size: (
        sm: 42px,
        md: 48px,
      ),
      line-height: (
        sm: 44px,
        md: 50px,
      ),
      padding-bottom: (
        sm: 88px,
        md: 88px,
      ),
      padding-top: (
        sm: 88px,
        md: 108px,
      ),
    );

    @include media($forMedia);
    font-family: "Montserrat", arial, sans-serif;
    color: $title-col;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    padding-top: 56px;
    padding-bottom: 56px;
  }
  &__list {
    @media (min-width: $sm) {
      max-width: $md;
      grid-template-columns: repeat(2, 2fr);
      padding-bottom: 64px;
    }
    @media (min-width: $md) {
      max-width: $lg;
      grid-template-columns: repeat(3, 2fr);
      row-gap: 112px;
      padding-bottom: 120px;
    }
    display: grid;
    grid-gap: 45px;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
  }

  &__text {
    position: relative;
    padding-bottom: 24px;
    color: #a291a5;
  }
  &__text::after {
    position: absolute;
    content: "";
    bottom: -5px;
    width: 80%;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #645766;
  }
}

.about-card {
  padding-left: 10px;
  padding-right: 10px;
  &__text {
    color: $textWite-col;
    font-style: italic;
    padding-top: 20px;
  }
}
