.our-services-article {
   @include mq(sm, true) {
      grid-template-columns: 120px 5fr;
      align-items: center;
      align-content: center;
      justify-content: center;
   }

   display: grid;


   &__img-wrapper {
      @include media((margin:(sm-md: 0)));
      margin: 0 auto;

      &--first {
         width: 111px;
      }

      &--second {
         width: 90px;
      }

      &--third {
         width: 60px;
      }

      &--fourth {
         width: 71px;
      }
   }

   &__img {
      width: 100%;
      display: block;
   }

   &__title {
      @include media ((margin:(sm: 0)));
      margin: 25px 0;

      font-family: Montserrat, Arial, sans-serif;
      font-weight: normal;
      font-size: 16px;
      line-height: 16px;

      color: #323232;
   }

   &__text {
      font-family: Lato, Arial, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;

      color: #848E97;
   }

   &__text-block {
      @include media ((text-align: (sm: left), margin: (sm: 0)));
      margin-bottom: 40px;
      align-self: center;
   }
}